name: Use Secret Example

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Use secret
        env:
          API_KEY: ${{ secrets.SECRET1 }}
        run: echo "API KEY: $API_KEY"
