name: Java CI with Maven
on:
 push:
  branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    environment: Dev
    steps:
      - name: Print variable
        run: echo "Deploying to $CLASS_NAME"
